@page "/Components/ProductListCompt"
@using SrvEShopModels.SrvModels;
<h3 class="text-primary">ProductListCompt</h3>
<p> Favourites Total :@SelectedFavCount</p>
<p>Last Selected Product : @LastSelectedProduct</p>
<div class="border p-4 mt-4" style="background-color:azure">
    <div class="row">
        @foreach (var prod in Products)
        {
            <_IndividualProductCompt Product="@prod"
                                 OnFavUpdated="FavSelectedCountUpdate"
                                 OnLastSelectedProductChnage="ProductSelectedUpdate">
                <FirstFragment>#1</FirstFragment>
                <SecondFragment>#2</SecondFragment>
            </_IndividualProductCompt>
        }

    </div>


    <_Collapsible Title=""
                  ButtonText="Info"
                  LabelText="Blocks "
                  Collapsed="true">

        <ChildContent>
            Find a person, add their role to the product (i.e.: Estimator, Foreman, Customer)
        </ChildContent>
    </_Collapsible>

    <_Collapsible Title=""
                  ButtonText="Info"
                  LabelText="Floors: "
                  Collapsed="true">

        <ChildContent>
            Find a person, add their role to the product (i.e.: Estimator, Foreman, Customer)
        </ChildContent>
    </_Collapsible>



</div>

@code {
    ICollection<Product> Products = new List<Product>();

    private int SelectedFavCount { get; set; } = 0;
    private string LastSelectedProduct { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        Products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,
                Price = 13.99M,
                ProductProperties = new()
                {
                    new ProductProperties { Id = 1, Key = "Flavor", Value = "Rose"},
                    new ProductProperties { Id = 2, Key = "Size", Value = "20oz"},
                    new ProductProperties { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        Products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 17.99M,
                ProductProperties = new()
            {
                new ProductProperties { Id = 1, Key = "Flavor", Value = "Lily" },
                new ProductProperties { Id = 2, Key = "Size", Value = "18oz" },
                new ProductProperties {Id = 3,Key = "Color",Value = "White"}
            }
            });


        base.OnInitialized();
    }

    //How to call method in parent componenet from a clild componenet
    // becasue Add To Favorite check box is in child component. But we
    //want to update in parent <p> Favourites Total :@SelectedFavCount</p>
    //To achive this we can impliment event call back.
    //Lets call this method in parent componenet which updates
    // <p> Favourites Total :@SelectedFavCount</p>  count of total favrouit
    // procduct select by user in child componenet.
    //To make this happen the clild component should use event call back
    //avaialable in blazore. Example in _IndividualProductCompt
    // Add To Favorite <input type="checkbox" @onchange="FavUpdated" /> <br />
    // check box is using onchange
    protected void FavSelectedCountUpdate(bool isSelected)
    {
        if (isSelected)
        {
            SelectedFavCount++;
        }
        else
        {
            SelectedFavCount--;
        }

    }

    protected void ProductSelectedUpdate(string productName)
    {
        LastSelectedProduct = productName;
    }
}
