@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Collapsible Title=""
             ButtonText=""
             Collapsed="true"
             LabelText="">
    <ChildContent>
        Find a person, add their role to the product (i.e.: Estimator, Foreman, Customer)
    </ChildContent>
</Collapsible>
